<div id="content-1">
    <h1>you may contact us</h1>
    <h3>customer care numbers:14646 OR 0755-6610661/0755-4090600(Language: Hindi and 
        english)</h3>
    <h3>For Railway Tickets booked through IRCTC</h3>
    <h3>Genral information</h3>
    <h3>I-tickets/e-tickets:<a href="#">care@irctc.co.in</a></h3>
    <h3>For cancellation E-tickets:<a href="#">etickets@irctc.co.in</a></h3>
    <h3>For IRCTC imudra preaid wallet&card:<a href="#">imudracare@irctc.co.in</a></h3>
<br>
<p class="text">For IRCTC SBI card users who do not receive the card within 01 month from the date of application kindly call on the Railway SBI card helplin nos.at 0124-39021212 or 18001801295(if calling from BSNL/MTNL line) or send email to <a href="#">customercare@sbicard.com</a>. for other queries on your IRCTC SI card account. kindly email at<a href="#"> loyaltyprogram@irct.co.in</a></p>
</div>  
<div id="content-2">
    <h3>Registered office/corporate office</h3>
    <h3>Indian Railway catering and Tourism Corporation.Ltd.,</h3>
    <h3>B-148,11th Floor,statesman House,</h3>
    <h3>Barakhamba Road,New Delhi 110001</h3>
</div>